.elements {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 328px);
    padding-top: 9.4238vh;
    gap: 30px;
}
@media screen and (max-width: 1180px) {
    .elements {
        max-width: 600px;
        grid-template-columns: repeat(2, 328px);
    }
}
@media screen and (max-width: 734px) {
    .elements {
      max-width: 320px;
      grid-template-columns: 328px;
    }
}
@media screen and (max-width: 500px) {
    .elements {
      padding-top: 2.3vh;
    }
}
@media screen and (max-width: 376px) {
    .elements {
        max-width: 328px;
        padding-top: 2.7vh;
    }
}