.popup__container {
    box-sizing: border-box;
    width: 230px;
    height: 45%;
    min-height: 320px;
    min-width: 230px;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
}

