.header-contacts-btn {
    background-color: white;
    width: 186px;
    height: 40px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1.3px;
    color: #737373;
    opacity: 1;
    transition: .3s opacity;
}

.header-contacts-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 420px) {
    .header-contacts-btn {
        max-width: 106px;
    }
}