.header {
  display: flex;
  align-items: center;
  min-width: 375px;
  height: 7.741vh;
  border-bottom: 1px solid black;
  justify-content: space-between;
  padding: 0 4.861vw 0;
  
}
.header-btns {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

@media screen and (max-width: 493px) {
  .header {
    max-width: 100%;
  }
}