.contacts {
    width: 727px;
    height: 71px;
    font-style: normal;
    font-weight: 900;
    font-size: 31px;
    line-height: 80px;
    letter-spacing: 0.5px;
    color: #252B42;
    margin-top: 20.8vh;
}