.content {
    margin: 0 auto 0 8.8194vw;
    min-width: 375px;
    padding: 9.5214vh 4.861vw 0;
}
@media screen and (max-width: 500px) {
    .content {
        padding: 4.6vh 2.7vw 0;
        margin: 0;
    }
}
