.main-title {
    min-height: 89px;
    min-width: 328px;
    max-width: 727px;
    max-height: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 80px;
    letter-spacing: 4px;
    color: #252B42;
    margin-bottom: 3.418vh;
}

@media screen and (max-width: 738px) {
    .main-title {
        font-size: 48px;
        line-height: 60px;
    }
}
@media screen and (max-width: 615px) {
    .main-title {
        font-size: 38px;
        line-height: 50px;
    }
}
@media screen and (max-width: 491px) {
    .main-title {
        font-size: 28px;
        line-height: 39px;
        margin-bottom: 2.9vh;
    }
}