.main-title {
    min-height: 89px;
    min-width: 355px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
     /* width: 50.486vw;
    height: 15.625vh;  */
}
@media screen and (max-width: 655px) {
    .main-title {
        font-size: 28px;
        line-height: 50px;
    }
}