.element__title {
    margin: 0;
    width: 132px;
    height: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
    white-space: nowrap;
    letter-spacing: 1.33px;
}
@media screen and (max-width: 500px) {
    .element__title {
      letter-spacing: 0.5; 
      font-weight: 900;
    }
}
